h3.intro-heading {
    font-size: 1.5em;
    color: black;
    padding: 0.5em 0 0 0
}

.intro-container {
    /* margin: 10px; */
    padding: 10px 10px 100px 10px;
}

.markdown {
    text-align: justify;
}

.video {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.intro-sub-heading {
    color: rgb(20,20,20);
    padding: 0.3em 0;
}


a.tab.nav-link {
    font-size: 1em;
    color: rgb(80,80,80);
    background-color: #ebebeb;

}

a.tab.nav-link.active {
    color: black;
}



li.nav-item {
    cursor: pointer;

}

#intro-tabs.nav.nav-tabs{
    display: flex;
    flex-direction: column;
}

#intro-tabs.nav.nav-tabs.nav-item.nav-link {
    display: flex;
}