/* @import url('https//fonts.googleapis.com/css?family=Montserrat:400,600&display=swap'); */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    /* 'Montserrat',  */
    background-color: #fff;
    text-align: center;
    color: black;
}


h3, h4 {
    font-weight: 540;
    text-align: left;
    color: black;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

h6 {
    font-size: 0.85em;
    margin-bottom: 2%;
    text-align: center;
}

i, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85em;
    line-height: 1.4em;
}




.tab.nav-link {
    font-size: 1.2em;
    color: black;
}

.cont-text {
    color: rgb(180, 180, 180);
    font-size: 0.75em;
    font-style: italic;
    margin: 10px;
}


#plot-button {
    grid-area: plotbtn;
    
    justify-self: center;
}



.plot-button {
    cursor: pointer;

    padding: 0.5rem 1rem;
    justify-content: center;

    width: 142px;
    height: 3.3rem;
    font-size: 1.2rem;
    border-radius: 2.6em;

    display: grid;
    margin: 0 auto 1rem;

    grid-template-columns: auto auto;
    grid-template-rows: auto;
}


.inter-title {
    text-align: left;
    margin-top: 1rem;
}

.interactive-text {
    text-align: justify;
    margin: 1em 0;
    line-height: 1.3em;
    color: rgb(140, 140, 140);
}

.inter-text {
    margin-bottom: 20px;
}


.grid-container {
    
    display: grid;

    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
    
    justify-self: center;

    width: 100%;
    
}


.cont-text {
    justify-content: center;
    grid-row: 1;
}

.control-tabs {
    grid-row: 2;
}



.inter-card {
    border-radius: 15px;
    background-color:#f8f8f8;
}


.controlcard {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}







.plotscard {
    display: block;
    min-height: 450px;
}

.interactive-layout {
    display: block;
    margin: 2px;
}




.hide-mobile{
    display: none;
}



 /* plot */
 .figure-container {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    height: 450px;
    z-index: 1;
    align-self: center;
}

.plotted-card {
    min-height: 530px;
    width: 100%
}

.fig-title {
    margin-top: 0.6em;
    padding-left: 10px;
}


/* spinner */
.spinner-container {
    grid-row: 3;
    display: grid;
    grid-template-areas: "item1 plotbtn item2";
    justify-self: center;
    width: 330px;
}

#item1 {
    grid-area: item1;
    align-self: center;
}

#item2 {
    grid-area: item2;
    align-self: center;
}















/* Footer */
.foot-container {
    width: 100%;
    background-color: rgb(180, 180, 180);
    color: rgb(80, 80, 80);
    padding: 0.6em 0 0.6em;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.disclaimer {
    font-weight: bold;
    background-color: rgb(130, 130, 130);
    margin: 2px 5px;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 1.1em;
    text-align: justify;
    color: white;
}

.footer-container{
    background-color: #f8f8f8;
    font-size: 0.65em;
    line-height: 1.8;
    text-align: center;
}

.footer-links {
    display: grid;
}

.footer-links {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    padding: 5px;
}

#footer-intro {
    grid-row: 1;
    grid-column: 1;
}

#footer-inter {
    grid-row: 1;
    grid-column: 2;
}

#footer-tests {
    grid-row: 2;
    grid-column: 1;
}

#footer-data {
    grid-row: 2;
    grid-column: 2;
}

.other-results {
    display: block;
    width: 100%;
}



.plot-button-logo {
    grid-row: 1;
    grid-column: 1;
    width: 20px;
    margin: 0 0.2em 0.1em auto;
}

.plot-button-text {
    grid-row: 1;
    grid-column: 2;
    margin: auto 0.2em auto auto;
}




#main-nav-links {
    text-align: left;
    
    align-self: start;
    
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;    
}



/* big screen */
@media only screen and (min-width: 1024px) {

    .show-desktop {
        display: flex;
    }

    .hide-desktop {
        display: none;
    }

    #main-nav-links {
        grid-row: 1;
        grid-column: 2;
        grid-column-start: 2;
        
        align-self: start;
    }

    .header {
        justify-content: space-around;
    }

    .my-title {
        margin: 0.1em auto 0.1em 20px;
    }

    .control-unit {
        width: 330px;
    }

    .plot-button {
        margin: 1rem auto;
    }

    .footer-container {
        line-height: 1.5;
    }

    .disclaimer {
        margin: 2px auto;
        text-align: center;
        width: 750px;
    }


    .footer-links {
        grid-template-rows: auto;
        grid-template-columns: repeat(4, auto);
        padding: 10px;
        font-size: 1.1em;
    }
    
    #footer-intro {
        grid-row: 1;
        grid-column: 1;
    }
    
    #footer-inter {
        grid-row: 1;
        grid-column: 2;
    }
    
    #footer-tests {
        grid-row: 1;
        grid-column: 3;
    }
    
    #footer-data {
        grid-row: 1;
        grid-column: 4;
    }

    .controlcard {
    justify-content: left;
    width: 330px;
    margin-right: 20px;
    }

    .plotscard {
        display: inline;
    }

    .component {
        width: 100%;
    }

    .rc-slider {
        width: 100%;
    }


    .spinner-container {
        grid-row: 1;
        height: 80px;
    }
    
    .cont-text {
        grid-row: 2;
        margin-top: 0;
        margin-bottom: 10px;
    }
    
    .control-tabs {
        grid-row: 3;
    }

    .interactive-layout {
        padding: 30px 30px 400px 30px ;
    }


    .figure-container {
        padding: 0 10px;
    }

    #intro-tabs.nav.nav-tabs{
        flex-direction: row;
    }

    #inter-tabs.nav.nav-tabs{
        flex-direction: row;
    }

    h3.intro-heading {
        font-size: 1.9em;
    }

    .data-page-container{
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-areas: "countries graphs";
        padding: 30px;
        justify-content: space-between;
    }

    .data-country-picker {
        display: inline-block;
        width: auto;
        overflow-y: hidden;
        height: auto;
        margin: 10px auto auto 0;
        padding-right: 10px;
        grid-area: countries;
    }

    .data-graphs {
        display: inline-block;
        margin: 0 auto 0 auto;
        grid-area: graphs;
        padding: 0 20px;
    }

    .other-results {
        display: flex;
        width: 50%;
    }
    
    .date-and-text.checklist {
        width: 400px;
        justify-self: left;
    }
    

    #main-items-container {
        display: grid;
        grid-template-areas: 'intro data tests inter';
        grid-template-columns: repeat(4, auto);
        padding: 0 20px;
    }

    .intro-container {
        padding: 10px 30px 100px 30px;
    }

    

    #main-intro-cont {
        grid-area: intro;
        margin: 0px 5px;
    }

    #main-inter-cont {
        grid-area: inter;
        margin: 0px 5px;
    }

    #main-tests-cont {
        grid-area: tests;
        margin: 0px 5px;
    }

    #main-data-cont {
        grid-area: data;
        margin: 0px 5px;
    }

    .main-container {
        display: grid;
        grid-template-rows: 130px 70px 105px 50px;
    }

    #gray-cont {
        background-color: #f8f8f8;
        padding: 3em 10px 7em 10px;
    }

    p.home-sub-text{ 
        font-size: 0.8em;
    }


    .landing-logo {
        grid-row: 1;
        align-self: end;
        padding-bottom: 20px;
    }

    .landing-logo.data{
        padding-bottom: 22px;
    }

    .home-sub-title {
        grid-row: 2;
        align-self: start;
        margin: 0;
        padding: 10px;
    }
    
    .home-sub-text {
        grid-row: 3;
        text-align: justify;
        align-self: start;
        margin: 0;
        padding: 5px 10px 15px 10px;
    }

    .page-button {
        grid-row: 4;
        justify-self: center;
        align-self: start;
    }

    .main-logo {
        width: 200px;
        height: 200px;
    }

    
    .video {
        width: 700px;
        height: auto;
        margin: 20px 0;
    }

}




@media only screen and (min-width: 1300px){
    
    .my-title {
        margin: 0.1em auto 0.1em 150px;
    }
    
    /* .other-links.show-desktop.hide-mobile {
        margin: 0.1em 145px auto auto;
    } */

    #main-nav-links {
        margin: 0.1em 125px auto auto;
    }

    .interactive-layout {
        padding: 30px 160px 400px 160px;
    }
    

    .data-page-container {
        padding: 50px 160px;
    }

    .data-country-picker {
        width: 250px;
    }

    .data-graphs {
        display: inline-block;
        margin: 0 auto 0 auto;
        grid-area: graphs;
    }

    #main-items-container {
        padding: 0 150px;
    }
    
    .main-container {
        grid-template-rows: 130px 70px 95px 50px;
    }
    
    .intro-container {
        padding: 10px 160px 100px 160px;
    }
}