@import url('https//fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    text-align: center;
    color: black;
}


h6 {
    font-size: 0.85em;
    margin-bottom: 2%;
    text-align: center;
}

i, p {
    font-size: 0.85em;
    line-height: 1.4em;
}


.tab.nav-link {
    font-size: 1.2em;
    color: black;
}

.control-text-hint {
    color: rgb(180, 180, 180);
    font-size: 0.75em;
    font-style: italic;
    margin: 10px;
}


.plot-button {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    border-radius: 2.6em;
    /* padding: 0; */
}




.grid-container {
    display: grid;

    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;

    
}

.plot-button-container {
    margin: 10px;
    grid-row: 3;
}

.cont-text {
    grid-row: 1;

}

.control-tabs {
    grid-row: 2;

}



.inter-card {
    border-radius: 15px;
    background-color: rgb(230, 230, 230);
}


.controlcard {
    /* display: block; */
    width: 100%;
    /* padding: 0; */
}





.plots {
    display: block;
    width: 100%;
}

.interactive-layout {
    display: block;
    margin: 2px;
}





.hide-mobile{
    display: none;
}



 /* plot */
 .figure-container {
    display: block;
    margin: 10px;
    padding: 2px;
    width: 100%;
    height: 450px;
    z-index: 1;
    /* height: calc(100%-10px); */
    align-self: center;
}

.plotted-card {
    min-height: 530px;
    width: 100%
}


.fig-title {
    font-size: 1.2em;
    margin: 0.6em 0 0.1em 0;
}








/* NAVBAR/header */
header {
    background-color: #4582EC;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0.6em 0 0.6em 0;
    vertical-align: center;
}

/* navlinks */
.navLinkTitle {
    color: white;
    font-size: 1.3em;
}

.navLink {
    color: rgb(230, 230, 230);
    margin-left: 10px;
    margin-right: 10px;
}

.navLinkTitle:hover,.navLink:hover {
    color: white;
    text-decoration: none;
}

.my-title {
    float: left;
    text-align: left;
    margin: 0.1em 2vw 0.1em 2vw;
}


.other-links.hide-mobile {
    text-align: left;
    float: right;
    font-size: 1.1em;
    text-decoration: none;
    margin-right: 2vw;
    margin-top: 0.1em;
}

.other-links.hide-desktop {
    float: right;
}



.fas.fa-bars.menubar{
    color: rgb(230, 230, 230);
    width: 35px;
    margin-right: 4vw;
    margin-top: 0.5em;
}

.fas.fa-bars.menubar:hover {
    color: white;
    cursor: pointer;
}

.navLink.menu-dropdown {
    display: block;
    text-align: left;
    background-color: #1c63dd;
    padding: 0 1em;
    min-width: 180px;
}

.menu-dropdown {
    float: left;
    display: block;
    margin: 0 1vw;
}












/* Footer */
.footer-container {
    width: 100%;
    background: #3D444A;
    color: #fff;
    padding: 1.2em 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 0;
    font-size: 0.8em;
    line-height: 2;
    text-align: center;
}


/* tablet */
@media only screen and (min-width: 600) {

    .figure-container {
        object-fit: cover;
        width: 700px;
        height: 450px;
    }

}


/* big screen */
@media only screen and (min-width: 1024px) {

    .show-desktop{
        display: flex;
    }

    .hide-desktop {
        display: none;
    }

    .controlcard {
    float: left;
    width: 330px;
    margin-right: 20px;
    }

    .plots {
        display: inline;
        width: 100%;
    }

    .interactive-layout {
        margin: 20px;
        padding: 0px 20px 500px 20px;
    }

    .component {
        width: 210px;
    }

    .rc-slider {
        width: 190px;
    }
    
    .DateInput_input {
        width: 112px;
    }


    .plot-button-container {
        grid-row: 1;
    }
    
    .cont-text {
        grid-row: 2;
    
    }
    
    .control-tabs {
        grid-row: 3;
    
    }
}